@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body, form{
	height:100%
	background-color: #c0b4ab;
	overflow-x: hidden;
	overflow-y: hidden;
}





.list{
  background: #f2f2f2;
  list-style:none;
  position: absolute;
  width: 20%;
  padding-left: 5px;
  overflow: scroll;
  
  padding-bottom: 80px  

  
}

.map{
	padding-left: 10px;
	float:right;
	width:80%;
}

li:nth-child(even){
	
    background: #cccccc;
	border-color:#cccccc
  
}
