@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body, form{
	height:100%;
	background-color: #c0b4ab;
	overflow-x: hidden;
	overflow-y: hidden;
}





.panel{
  background: #f2f2f2;
  list-style:none;
  position: absolute;
  width: 60%;
  padding-left: 10%;
	padding-bottom: 20px;
  overflow: scroll;
	/*top: 40%;*/






}

/*img.image {*/
	img {
    padding-top: 40%;
    display: block;
    margin: 0 auto auto 0;

    height: 400px;
    width: 400px;
    max-height: 400px;
    max-width: 400px;
		vertical-align:middle;
		
   }


/*}*/

.info{
	padding-left: 10px;
	padding-top: 100px;
	float:right;
	width:40%;
}

li:nth-child(even){

    background: #cccccc;
	border-color:#cccccc

}
