<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% block css_block %}
{% endblock %}
<html>

  <head lang="en">
    <meta charset="UTF-8" />
	{% block title_block %}
	{% endblock %}

	 <nav class="navbar navbar-inverse">

		<ul class="navbar-left">
      {% if user.is_authenticated %}
      <a class="navbar-brand" href="{% url 'index'%}">Home</a>
      <a class="navbar-brand"> Welcome: {{request.user.username}} : {{user.userprofile.user_type}}</a>


      {% else %}
      <a class="navbar-brand" href="{% url 'index'%}">Home</a>
			<a class="navbar-brand" href="{% url 'register'%}">Register</a>
      {% endif %}

		</ul>



		<ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <a class="navbar-brand" href="{% url 'infopage'%}">Map</a>
      <a class="navbar-brand" href="{% url 'update'%}">Change settings</a>
      <a class="navbar-brand" href="{% url 'logout'%}">logout</a>
      {% if user.is_superuser %}
      <a class="navbar-brand" href="{% url 'admin_login'%}">Admin Login</a>
      {% endif %}

      {% else %}
			<a class="navbar-brand" href="{% url 'login'%}">User Login</a>
			<a class="navbar-brand" href="{% url 'admin_login'%}">Admin Login</a>
      {% endif %}


		</ul>

</nav>
  </head>



  <body>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
    <hr />

  </body>
</html>
