<!DOCTYPE html>
{% extends 'CityApp/base.html' %}

{% block css_block %}
{% load staticfiles %}
<link href="{% static 'CityApp/index.css' %}" rel="stylesheet">
<link href="{% static 'CityApp/base.css' %}" rel="stylesheet">
{% endblock %}
<html>

  <head lang="en">
    <meta charset="UTF-8" />
	{% block title_block %}
	{% endblock %}


  </head>




  <body>

    <div>
        {% block body_block %}

<body background="../../static/images/background vid.gif" >

		<h1><center>
		  <strong>Welcome to Smart City</strong>
		</center></h1>
		
		
		
		

  <p><center>The best guide to Brisbane City since 1905.</center></p>
       
       
       
       
       
        {% endblock %}
    </div>
    <hr />

  </body>
</html>
