<!DOCTYPE html>

{% extends 'CityApp/base.html' %}
{% load easy_maps_tags %}
<html>


<head>

 {% block css_block %}
{% load staticfiles %}
<link href="{% static 'CityApp/base.css' %}" rel="stylesheet">
<link href="{% static 'CityApp/info.css' %}" rel="stylesheet">


{% endblock %}

 {% block body_block %}


  <ul class="list" style="height:100%;overflow:hidden; overflow-y:scroll;">
    <li>
      {% for details in cityInfo %}
        <li>
          <!-- <h3><a href="{{ details.url }}">{{details.name}}</a></h3> -->
          <h3><a href="/CityApp/landmark/{{ details.slug }}">{{details.name}}</a></h3>
          <p>{{ details.industry_type}}: </p>
        </li>
      {% endfor %}

    </li>
  </ul>


  <form class="map">
	{% with 1334 as w and 750 as h and 16 as z and "easy_maps/map.html" as t  %}
      {% easy_map "Brisbane, Queensland " w h z using t %}
    {% endwith %}

  </form>
{% endblock %}


</html>
