<!DOCTYPE html>

{% extends 'CityApp/base.html' %}
{% load easy_maps_tags %}
<html>


<head>

 {% block css_block %}
{% load staticfiles %}
<link href="{% static 'CityApp/base.css' %}" rel="stylesheet">
<link href="{% static 'CityApp/info.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{% endblock %}

 {% block body_block %}


  <ul class="list" style="height:100%;overflow:hidden; overflow-y:scroll;">
    <li>
	
	
	<h1>City Information </h1>
  {% for details in context1 %}
     
       <li>
		
         <h3><a href="/CityApp/landmark/{{ details.slug }}">{{details.name}}</a></h3>
     <h4>{{ details.landmark_type}} </h4>
     {% if details.landmark_type == "Industry"  %}
               <p>Industry type: {{details.industry_type}}: </p>
     {% endif %}
   <p>{{ details.user_type}} </p>
   
  <!-- <p>{{ details.phone_number}} </p> 
   <p>{{ details.email}} </p>
   <p>Address: {{ details.unit_number}} {{ details.street_number}} {{ details.street_name}} {{ details.suburb}}
   {{ details.state}} {{ details.postcode}}</p>
   <p>Long: {{ details.longitude}} </p>
   <p>Lat: {{ details.latitude}} </p> -->
       </li>
     {% endfor %}
	 
{% if currentUser.user_type == "Tourist" or currentUser.user_type == "Business" %}
	<h1>Hotels</h1>
{% endif %}

{% if currentUser.user_type == "Student" %}
	<h1>Colleges</h1>
{% endif %}


{% for details in context2 %}
     
       <li>
		
         <h3><a href="/CityApp/landmark/{{ details.slug }}">{{details.name}}</a></h3>
     <h4>{{ details.landmark_type}} </h4>
     {% if details.landmark_type == "Industry"  %}
               <p>Industry type: {{details.industry_type}}: </p>
     {% endif %}
   <p>{{ details.user_type}} </p>
   <!--
   <p>{{ details.phone_number}} </p>
   <p>{{ details.email}} </p>
   <p>Address: {{ details.unit_number}} {{ details.street_number}} {{ details.street_name}} {{ details.suburb}}
   {{ details.state}} {{ details.postcode}}</p>
   <p>Long: {{ details.longitude}} </p>
   <p>Lat: {{ details.latitude}} </p> -->
       </li>
     {% endfor %}
	 
{% if currentUser.user_type == "Business"  %}
	<h1>Industry</h1>
{% endif %}

{% if currentUser.user_type == "Student" %}
	<h1>Libraries</h1>
{% endif %}
	 
	 {% for details in context3 %}
     
       <li>
		
         <h3><a href="/CityApp/landmark/{{ details.slug }}">{{details.name}}</a></h3>
     <h4>{{ details.landmark_type}} </h4>
     {% if details.landmark_type == "Industry"  %}
               <p>Industry type: {{details.industry_type}}: </p>
     {% endif %}
   <p>{{ details.user_type}} </p>
   <!--
   <p>{{ details.phone_number}} </p>
   <p>{{ details.email}} </p>
   <p>Address: {{ details.unit_number}} {{ details.street_number}} {{ details.street_name}} {{ details.suburb}}
   {{ details.state}} {{ details.postcode}}</p>
   <p>Long: {{ details.longitude}} </p>
   <p>Lat: {{ details.latitude}} </p> -->
       </li>
     {% endfor %}
	 
	 
	

</li>
</ul>

  <style>
      #map {
        height: 1080px;
        width: 80%;
		position: absolute;
		right: 0px;
		top: 0px;
		 margin-top: 100px;

       }
    </style>

  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>


    <script>
    var customLabel = {
      restaurant: {
        label: 'R'
      },
      bar: {
        label: 'B'
      }
    };

      function initMap() {
       var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 10,
         center: new google.maps.LatLng(-27.5284775, 152.9992675),
          zoom: 12
       });

       var infoWindow = new google.maps.InfoWindow;

         // Change this depending on the name of your PHP or XML file
         downloadUrl('http://127.0.0.1:8000/CityApp/xml_page/', function(data) {
           var xml = data.responseXML;
           var markers = xml.documentElement.getElementsByTagName('marker');
           Array.prototype.forEach.call(markers, function(markerElem) {
             var id = markerElem.getAttribute('id');
             var name = markerElem.getAttribute('name');
             var address = markerElem.getAttribute('address');
             var type = markerElem.getAttribute('type');
             var point = new google.maps.LatLng(
                 parseFloat(markerElem.getAttribute('lat')),
                 parseFloat(markerElem.getAttribute('lng')));

             var infowincontent = document.createElement('div');
             var strong = document.createElement('strong');
             strong.textContent = name
             infowincontent.appendChild(strong);
             infowincontent.appendChild(document.createElement('br'));

             var text = document.createElement('text');
             text.textContent = address
             infowincontent.appendChild(text);
             var icon = customLabel[type] || {};
             var marker = new google.maps.Marker({
               map: map,
               position: point,
               label: icon.label
             });
             marker.addListener('click', function() {
               infoWindow.setContent(infowincontent);
               infoWindow.open(map, marker);
             });
           });
         });
       }



     function downloadUrl(url, callback) {
       var request = window.ActiveXObject ?
           new ActiveXObject('Microsoft.XMLHTTP') :
           new XMLHttpRequest;

       request.onreadystatechange = function() {
         if (request.readyState == 4) {
           request.onreadystatechange = doNothing;
           callback(request, request.status);
         }
       };

       request.open('GET', url, true);
       request.send(null);
     }

     function doNothing() {}
   </script>
   <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkUxFDx4duv5keEAbsHTvmY_4At2UUy9w&callback=initMap">
   </script>
  </body>
</html>

  <!-- <form class="map">
	{% with 1334 as w and 750 as h and 16 as z and "easy_maps/map.html" as t  %}
      {% easy_map "Brisbane, Queensland " w h z using t %}
    {% endwith %}

  </form>
{% endblock %}
 -->

</html>
