<!DOCTYPE html>

{% extends 'CityApp/base.html' %}

<html>


<head>

 {% block css_block %}
{% load staticfiles %}
<link href="{% static 'CityApp/base.css' %}" rel="stylesheet">
<link href="{% static 'CityApp/landmark.css' %}" rel="stylesheet">


{% endblock %}

{% block body_block %}

<form class="info">
  <h1>{{landmark.name}}</h1>
  <h2>{{landmark.landmark_type}}</h2>
  <img src="{{landmark.landmark_pic}}">
  <h3>Phone Number: {{landmark.phone_number}}</h3>
  <h3>Email: {{landmark.email}}</h3>
  <h3>Address: {{landmark.street_number}} {{landmark.suburb}} {{landmark.state}} {{landmark.postcode}}</h3>
  
  

</form>


{% endblock %}


</html>
