<!DOCTYPE html>

{% extends 'CityApp/base.html' %}
<html>


<head>
 
 {% block css_block %}
{% load staticfiles %}
<link href="{% static 'CityApp/registration.css' %}" rel="stylesheet">
{% endblock %}
	
  </head>
{% block title_block %}
  <title>CityApp Registration</title>
{% endblock %}

{% block body_block %}
  <h1>User Registration</h1>
  
  {% if registered %}
	<form>
      <strong>Thank you for registering!</strong>
     <strong> <a href="{% url 'index' %}">Return to the homepage.</a></strong><br />
	</form>
  {% else %} 
    
      
	  <div class="form">
		
      <form id="user_form" method="post" action="{% url 'register' %}"
            enctype="multipart/form-data">
      {% csrf_token %}

      <!-- Display each form -->
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <!-- Provide a button to click to submit the form. -->
	  <button type="submit" class="submit">Submit</button>
     
    </form>
	</div>
	
	
    {% endif %}
{% endblock %}
</html>
