<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{% static 'CityApp/index.css' %}" rel="stylesheet">
<html>

  <head lang="en">
    <meta charset="UTF-8" />
	

	 <nav class="navbar navbar-inverse">

		<ul class="navbar-left">
			<a class="navbar-brand" href="{% url 'index'%}">Home</a>
			<!-- <a class="navbar-brand" href="{% url 'register'%}">Register</a> -->
		</ul>



		<ul class="nav navbar-nav navbar-right">
			<!-- <a class="navbar-brand" href="{% url 'login'%}">User Login</a> -->
			<!-- <a class="navbar-brand" href="{% url 'admin_login'%}">Admin Login</a> -->
      <a class="navbar-brand" href="{% url 'index'%}">Sign out</a>

		</ul>

</nav>
  </head>



  <!-- <body> -->
  <video id="bgvid" playsinline autoplay muted loop>
  <source src="{% static 'images/background.mp4' %}" type="video/mp4"> </source>
  </video>
    <div>
        
    </div>
    <hr />

  </body>
</html>
